<section id="content" class="bitcoin">
  <nav class="navbar fixed-top navbar-toggleable-xl navbar-inverse">
    <div class="collapse navbar-collapse" id="navbarBreeze">
      <ul class="navbar-nav ml-auto col-9" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" [routerLinkActive]="['is-active']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="history" [routerLinkActive]="['is-active']">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="advanced" [routerLinkActive]="['is-active']">Advanced</a>
        </li>
      </ul>
      <!-- /ul-->
      <div class="ml-auto d-flex align-items-center" style="position: relative">
        <img src="../../../assets/images/logo-black.svg" style="z-index: 1;">
        <img src="../../../assets/images/logo.svg" width="57px" height="15px" alt="Breeze Logo" style="z-index: 2; position: absolute; top: 44px; left: 100px">
      </div>
    </div>
    <!-- /navbar-collapse-->
  </nav>
  <!-- /nav-->
</section>
